name: DevOps Project CI/CD

# Déclencheur : Lance le pipeline quand on pousse sur 'main' ou sur une PR
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1. Récupérer le code
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Installer Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # 3. Installer les dépendances
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # 4. Lancer les tests (Pytest)
      - name: Run Tests
        run: |
          pytest

      # 5. Vérifier que Docker arrive à construire l'image
      - name: Build Docker image
        run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
      # 3.5 Analyse de sécurité (SAST)
      - name: Run Bandit (Security Scan)
        # On scanne tout le dossier (.), on ignore le dossier venv (-x), et on veut un rapport niveau "Low" (-ll)
        run: bandit -r . -x ./venv,./test_main.py
